<?xml version="1.0"?>
<robot name="h1"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Add original h1_description -->
    <xacro:include filename="$(find h1_description)/xacro/h1/h1.urdf" />

    <!-- Add Lidar, Depth-Camera -->
    <xacro:include filename="$(find h1_description)/xacro/accessories.xacro" />

    <!-- Add ROS2 Control -->
    <!-- <xacro:include filename="$(find h1_description)/xacro/g1/g1_arm.ros2_control.xacro" />
    <xacro:g1_ros2_control_arm name="g1_arm_control" /> -->

</robot>